$beGray: (
  50 : #f9fafb,
  100 : #f3f4f6,
  200 : #e5e7eb,
  300 : #d1d5db,
  400 : #9ca3af,
  500 : #6b7280,
  600 : #4b5563,
  700 : #374151,
  800 : #1f2937,
  900 : #111827,
  A100 : #5277ff,
  A200 : #1f4fff,
  A400 : #0033eb,
  A700 : #002dd1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
