<div class="row">
  <div class="col-lg-3">
    <nb-flip-card>
      <nb-card-front>
        <nb-card accent="info" status="warning">
          <nb-card-body>
            <img src="assets/images/cards/01-320x200.jpg" alt="" width="100%" height="auto">
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card accent="info" status="warning">
          <nb-card-body>
            Back
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
  <div class="col-lg-3">
    <nb-flip-card>
      <nb-card-front>
        <nb-card accent="info" status="warning">
          <nb-card-body>
            <img src="assets/images/cards/02-320x200.jpg" alt="" width="100%" height="auto">
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card accent="info" status="warning">
          <nb-card-body>
            Back
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
  <div class="col-lg-3">
    <nb-flip-card>
      <nb-card-front>
        <nb-card accent="info" status="warning">
          <nb-card-body>
            <img src="assets/images/cards/03-320x200.jpg" alt="" width="100%" height="auto">
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card accent="info" status="warning">
          <nb-card-body>
            Back
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
  <div class="col-lg-3">
    <nb-flip-card>
      <nb-card-front>
        <nb-card accent="info" status="warning">
          <nb-card-body>
            <img src="assets/images/cards/04-320x200.jpg" alt="" width="100%" height="auto">
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card accent="info" status="warning">
          <nb-card-body>
            Back
          </nb-card-body>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>
</div>
